<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
    $(document).bind('touchmove', function(e) {
    	e.preventDefault();
    });
</script>
SUP.


<nav class="top-nav">
  <a href="/landing/">Landing</a>
  <a href="/css/">Your Sweeps</a>
  <a href="/js/">Profile</a>
  <a href="/jquery/">Settings</a>
</nav>



      <div class="module top">
        <h2>Beach</h2>
      </div>
      
      <div class="module top">
        <h2>Beach 2</h2>
      </div>
      
      <div class="module top">
        <h2>Beach 3</h2>
      </div>
      
      <div class="module top">
        <h2>Beach 4</h2>
      </div>

<!-- Front end scripts -->
<script type="text/javascript">
  
</script>