<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
    $(document).bind('touchmove', function(e) {
    	e.preventDefault();
    });
</script>

<img style="width: 100%; position: absolute;" src="http://cdn.pcwallart.com/images/beach-iphone-wallpaper-wallpaper-4.jpg"></img>

<div class="center-landing">
  <h1 style="font-size: 72px;">Sweepr</h1>
</div>  

<div class="center-landing" style="top: 90%;">
  <a href="/#/signup" class="login-btn">Login</a>
</div>