<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
    // $(document).bind('touchmove', function(e) {
    // 	e.preventDefault();
    // });
</script>

<!--<img style="width: 100%; position: absolute;" src="http://cdn.pcwallart.com/images/beach-iphone-wallpaper-wallpaper-4.jpg"></img>-->

<div class="center-neat">
  <h1 style="font-size: 72px;">Sweepr</h1>
</div>  

<div class="center-neat">
    <form>
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>
        
        <label><b>Phone Number</b></label>
        <input type="text" placeholder="555-555-5555" name="username" required>
        
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>
        
        <label><b>Phone Number</b></label>
        <input type="text" placeholder="555-555-5555" name="username" required>
    </form>
</div>

<div class="center-neat">
  <button class="login-btn">Signup</button>
</div>